body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

#container {
    width: 900px;
    margin-inline: auto;
}

#sentence {
    width: 900px;
    margin-inline: auto;
    margin-block: 30px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#image {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alphabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;

}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid grey;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.letter:hover {
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.reset {
    color: green;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    color: white;
}